.LearnHints__hide-show-button {
    margin: 5px;
    max-width: 50%;
    align-self: center;
}

.LearnHints__container {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.LearnHints__container ol {
    padding-left: 20px;
}

@media screen and (min-width: 1000px) {
    .LearnHints__container ol {
        padding-left: 40px;
    }
}