.TrueFalse__container legend {
    font-size: 20px;
}

.TrueFalse__container label {
    font-size: 18px;
}

.TrueFalse__submit {
    margin: 5px;
    font-size: 16px;
}

.TrueFalse__input-div {
    margin: 5px 0;
}

.TrueFalse__input-div label {
    margin: 0 5px;
}