.NotesWidget__outer-container-widget-list.off {
    width: 0;
    height: 0;
    display: none;
}

.NotesWidget__outer-container-widget-list.on {
    width: 90%;
    height: calc(100% - 100px);
    word-wrap: break-word;
    position: fixed;
    top: 75px;
    margin: 5%;
    border: 5px solid black;
    background-color: white;
    z-index: 200;
    overflow: hidden;

}

.NotesWidget__toggle-button {
    position: fixed;
    right: 10px;
    top: 100px;
    z-index: 100;
}

.NotesWidget__outer-container-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 25px;
    height: 25px;
}

@media screen and (min-width: 1000px) {
    .NotesWidget__outer-container-widget-list.on {
        height: 70%;
    }

    .NotesWidget__outer-container-close-button.button {
        width: 40px;
        height: 40px;
        padding: 5px;
        right: 25px;
    }
}