.MultipleChoice__container legend {
    font-size: 20px;
}

.MultipleChoice__container label {
    font-size: 18px;
}

.MultipleChoice__submit {
    margin: 5px;
    font-size: 16px;
}

.MultipleChoice__input-div {
    margin: 5px 0;
}

.MultipleChoice__input-div label {
    margin: 0 5px;
}